<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit.xsd">

    <context:annotation-config />
    <context:property-placeholder location="classpath*:/**/rabbitmq.properties" />

    <!-- 创建 connectionFactory -->
    <rabbit:connection-factory id="connectionFactory"
                               host="${rabbitmq.host}"
                               port="${rabbitmq.port}"
                               virtual-host="${rabbitmq.virtualHost}"
                               username="${rabbitmq.username}"
                               password="${rabbitmq.password}" />

    <!-- 创建一个 rabbit admin 对象来管理交换机、队列，以及两者间的绑定关系 -->
    <rabbit:admin connection-factory="connectionFactory" />

    <!-- 简单模式相关bean -->
    <rabbit:queue id="spring-simple-mode-queue" name="spring-simple-mode-queue" auto-declare="true" />

    <!-- 工作队列模式相关 bean -->
    <rabbit:queue id="spring-work-queue-mode-queue" name="spring-work-queue-mode-queue" auto-declare="true" />

    <!-- 广播模式相关 bean -->
    <!-- 声明队列 -->
    <rabbit:queue id="spring-fanout-mode-queue1" name="spring-fanout-mode-queue1" />
    <rabbit:queue id="spring-fanout-mode-queue2" name="spring-fanout-mode-queue2" />
    <!-- 声明交换机和绑定关系 -->
    <rabbit:fanout-exchange id="spring-fanout-mode-exchange"
                            name="spring-fanout-mode-exchange"
                            auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="spring-fanout-mode-queue1" />
            <rabbit:binding queue="spring-fanout-mode-queue2" />
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <!-- 路由模式相关 bean -->
    <!-- 声明队列 -->
    <rabbit:queue id="spring-direct-mode-info-queue" name="spring-direct-mode-info-queue" />
    <rabbit:queue id="spring-direct-mode-error-queue" name="spring-direct-mode-error-queue" />
    <!-- 声明交换机和绑定关系 -->
    <rabbit:direct-exchange id="spring-direct-mode-exchange"
                            name="spring-direct-mode-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="spring-direct-mode-info-queue"
                            key="info" />
            <rabbit:binding queue="spring-direct-mode-error-queue"
                            key="error" />
        </rabbit:bindings>
    </rabbit:direct-exchange>
    
    <!-- 主题模式相关 bean -->
    <!-- 声明队列 -->
    <rabbit:queue id="spring-topic-mode-kernel-queue" name="spring-topic-mode-kernel-queue" />
    <rabbit:queue id="spring-topic-mode-error-queue" name="spring-topic-mode-error-queue" />
    <rabbit:queue id="spring-topic-mode-all-queue" name="spring-topic-mode-all-queue" />
    <!-- 声明交换机和绑定关系 -->
    <rabbit:topic-exchange id="spring-topic-mode-exchange"
                           name="spring-topic-mode-exchange">
        <rabbit:bindings>
            <rabbit:binding queue="spring-topic-mode-kernel-queue"
                            pattern="kernel.*" />
            <rabbit:binding queue="spring-topic-mode-error-queue"
                            pattern="*.error" />
            <rabbit:binding queue="spring-topic-mode-all-queue"
                            pattern="#" />
        </rabbit:bindings>
    </rabbit:topic-exchange>

    <!-- 定义 rabbitTemplate 对象来收发消息，这个模板对象可以自动管理与 rabbitmq 服务的连接 -->
    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" />

</beans>